body {
    font-family: sans-serif;
}
.container,.content{
    margin: 5px;
    border: 2px solid blue;
    background-color: blue;
}
.list,.list2 {
    margin: 5px;
    border: 2px solid pink;
    background-color: pink;
}
li {
    margin: 5px;
    border: 2px solid skyblue;
    background-color: skyblue;
}